#gamer1{
    position: absolute;
    bottom: 0;
    background-color: #212128;
    width: 100%;
    height: 100px;

}

.submenu{
    
    text-transform: uppercase;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
    
    height: 90px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.submenu a{
    color: white;
    text-decoration: none;
    margin-right: 35px;
    text-align: center;

}

.submenu1:hover{
    color: #ff5063;

}